// https://eslintconfig.dev/cra/typescript-prettier
{
  "extends": [
    "react-app",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true,
        "endOfLine": "auto"
      }
    ]
  }
}
